html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1d0d2;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

#console {
    text-align: center;
    background-color: #79889b;
}

#play, #stop {
    background-color: #fffde2;
    outline: none;
    border: none;
    padding:10px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#match{
    border-radius: 100px;
    background-color: #94ed95;
    border: 1px solid;
    display: inline-block;
    padding: 40px;
    width: 30px;
    height: 30px;
    outline: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#shapes-display {
    display: flex;
    justify-content: space-evenly;
}

#livesCount {
    margin-bottom: 20px;
}